.NavBar{
    font-family: Merriweather, serif;
    position: sticky;
    top:0;
}
/*  */

.nav {
    
    /* margin: 100px; */
    /* padding: 0; */
    /* list-style: none; */

}
#welc{
    font-size: 30px;
    color: rgb(179, 75, 159);
    text-align: center;
}
#logos{
    height: 60px;
    width: 100px;
}

#nav-contain{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#pro-pic{
    height:30px;
    width:30px;
}
.nav-bar {
    /* text-align: center;
    height: 15%;
    /* width: 100%; */
   /* background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    margin: 0;
    padding: 0;
    font-size: 100%;
    display: table;   /* Allow the centering to work */
	/*margin: 0 auto; */
    border-style: solid;
    border-radius:0.12em;
    border-color: rgb(224, 132, 74);
    width: 100%;
    display: inline-flex;
    background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    /* background: linear-gradient(#6616fc, #f394d3); */
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 40px; */
    height: 80px;

}

.nav-link{
   
    border:0.1em solid rgb(224, 132, 74);
    border-radius:0.12em;
    font-weight:300;
    text-shadow: 0 0.04em 0.04em rgb(224, 132, 74);
    text-align:center;
    transition: all 0.15s;


}
.nav-link:hover{
    color:rgb(223, 100, 200);
    text-shadow: 0 0 2em rgba(255,255,255,1);
    border-color: rgb(223, 100, 200);
}

.left {

    /* width: 20%; */
    float: left;
}

li {
    border-style: outset;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    margin: 20px;
}

.welcome{
    background-image: radial-gradient(circle farthest-side, #f0b255, #f8b500);
    text-align: center;

}
#welcome-container{
    margin: 20px;
}






